<% if (theme.comment.select == "Valine") { %>
<section class="comments">
<div id="vcomments"></div>
    <script>
    new Valine({
    el: '#vcomments' ,
    appId: 'hRJrTpW5KQQJSGWrbE4PGvk0-9Nh9j0Va',
    appKey: 'jUKlMU6un1dI5fEy5hlzs5Vc',
    notify:true, 
    verify:true, 
    avatar:'mp', 
    placeholder: '来啊，快活啊!' 
    });
    </script>
    </section>

<% }

else if (theme.comment.select == "Gitalk") { %>

<div id="vcomments"></div>
<div id="gitalk-container"></div>
  
    <script type="text/javascript">
      var gitalk = new Gitalk({
        clientID: '030fef445f2b48d98103',
        clientSecret: 'd554beab00009b1aa60798d6e5e1136eb069f5e4',
        repo: 'cooong.github.io',
        owner: 'cooong',
        admin: ['cooong'],
        id: 'Demo',
        distractionFreeMode: true
      });
      gitalk.render('gitalk-container');
    </script>
    
    <% } %>