<div id="homenav">

<div id="navbox">
<div class="nav" id="" ><a class="nlink" href="/about">关 于</a></div>
<div class="nav" id=""><a class="nlink" href="/search">搜 索</a></div>
<div class="nav" id=""><a class="nlink" href="/tags">标 签</a></div>
<div class="nav" id=""><a class="nlink" href="/categories">分 类</a></div>
<div class="nav" id=""><a class="nlink" href="/">主 页</a></div>
</div>

<div id="home" onclick="navbox()">

<img class="homeball" id="ball" src="/images/ball.png"></img>
<img class="homeball" id="openball" src="/images/openball.png"></img>

</div>

</div>