.article_list
  background #F9F9F9
  font-family "Noto Sans SC", sans-serif
  position relative
  margin-top 1em
  border 1px solid #F0F0F0
  border-radius 0.6em
  color #555555
  box-shadow  0 0 1px 1px #CCCCCC
  
.title_date
  position relative
  margin 0 auto
  margin-top 0.5em
  width 100%
  
  
.article_title
  position absolute
  width 95%
  top 1.5em
  left 0
  
.title_link
  font bold 1.4em sans-serif
  height 1.5em
  position absolute
  overflow hidden
  color #444444
  
  
  
.article_date
  text-align center
  width 12em
  position absolute
  margin-bottom -1.2em
  right 0
  bottom 0
  font-size 0.7em
  color #FFB74D
  
.article_excerpt
  width 90%
  margin 5em 5% auto 5%
  border 1px solid #F0F0F0
  border-radius 0.6em

.excerpt
  margin 0.5em 
 
.excerpt_link
  color #444444

.archive
  margin 1em 5% 1em 5%
  width 90%
  overflow hidden

.archive_box
  margin-right 0.5em
  height 2em
  float left

.svg
  float left
  margin-top 0.5em
  width 1em
  height 1em 

.archive_link
  margin-left 5px
  vertical-align middle
  line-hight 2em
  color #F57F17

