foot 
  color #3C3C3C
  text-align center;
  font bold 0.9em "Noto Sans SC", sans-serif;

.boldline 
  border none;
  height 0.1em;
  background-color #D3D3D3;
  
#hitokoto
  width 95%;
  margin 2em auto
  font-size 0.8em
  color #999999