#homenav{
  position fixed;
  width 8em
  right 5%
  bottom 20%
}
#navbox{
  overflow:hidden;
  z-index:999;
  display none
  }
.nav{
  color:red;
  text-align:center;
  line-height:auto;
  background-color: #F5F5F5;
  border-radius:1em;
  margin:1em;
  padding 0.3em 1em
  box-shadow: 0 0 0.3em 0.3em #BBBBBB;
  opacity:0.9;
  }
.nlink{
  font-size:1em;
  }
#home{
  opacity:0.9;
  z-index:999;
  }
.homeball{
  height:5em;
  margin-left 1.5em
  }
#ball{
  
  }
#openball{
  display:none;
  }