#copybottom {
  width:auto;
  height:auto;
  position:absolute;
  top:2px;
  right:2px;
  padding:2px 10px;
  border-radius:5px;
  z-index:9999;
  background:#ffffff;
  }
.post_title
  width 98%
  margin auto
  color #222222
  font bold 1.8em "Noto Sans SC", sans-serif;
  text-align: center;

.post_p
  display: inline-block;
  text-align left

#post_content
    width 96%
    margin auto
    font-family "Noto Sans SC", sans-serif;
    img
        max-width 80%
    a
        font-size 1em
    h1
        font-size 1.5em
    h2
        font-size 1.3em
#top
    width 50px
    height 80px
    background rgba(85, 85, 85, 0.3) none repeat scroll 0% 0%
    position fixed
    bottom 5%
    right 3%
    text-align center
    cursor pointer
    a
        display block
        font-size 18px
        line-height 40px
        color #3C3C3C
        text-decoration none
    a:hover
        background-color #FFFFFF
